img {
    width: 231px;        
}
h1 {
    color: #39e53f;
    font-family: 'Jura', sans-serif;
}
h2 {
    color: #39e53f;
    font-family: 'Jura', sans-serif;
}
li {
    color: #3ae03a;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}
body {
    background: #d84949;
}






    